.footer {
    position: relative;
    width: 100%;
    background-color: #090909;
    color: #C2C2C299;
}

.footer .container {
    max-width: 1200px;
    width: 100%;
    padding: 3em 50px;
    margin: 0 auto;
}

.footer_links {
    padding: 80px 0;
}

.p_relative {
    position: relative !important;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.footer__social {
    position: relative;
    color: #fff;
    letter-spacing: 0;
    width: 100%;
    line-height: 35px;
    text-align: center;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.footer__title {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.footer__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15px;
    height: 2px;
    background-color: #fff;
}

.copyright {
    padding-top: 30px;
    font-size: 14px;
    letter-spacing: 2.67px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}